<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body style="overflow: hidden;">

  <div class="modal-with-form" id="modal_with_form">
    <div class="modal-with-form__wrapper">
      <button class="modal-with-form__close" type="button">
        <svg class="modal-with-form__close-icon" width="24" height="24" aria-hidden="true">
          <use href="img/icon/sprite.svg#modal-close-icon"></use>
        </svg>
      </button>
      <div class="modal-with-form__inner">
        <h2 class="modal-with-form__inner-title">Заказать HiPhi X</h2>
        <span class="modal-with-form__inner-subtitle">Выбранные параметры</span>
        <form class="modal-with-form__formset" id="catalogue_cars_form">

          <div class="modal-with-form__formset-wrapper">
            <div class="modal-with-form__formset-wrapper-item">
              <h3 class="modal-with-form__formset-wrapper-item-title">Комплектация</h3>
              <div class="modal-with-form__formset-wrapper-item-body">
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="HiPhi X Deluxe Edition 6 местный" disabled>
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="11 000 000 ₽" disabled>
              </div>
            </div>
            <div class="modal-with-form__formset-wrapper-item">
              <h3 class="modal-with-form__formset-wrapper-item-title">Цвет кузова</h3>
              <div class="modal-with-form__formset-wrapper-item-body">
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="Белый" disabled>
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="0 ₽" disabled>
              </div>
            </div>
            <div class="modal-with-form__formset-wrapper-item">
              <h3 class="modal-with-form__formset-wrapper-item-title">Цвет салона</h3>
              <div class="modal-with-form__formset-wrapper-item-body">
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="Черный" disabled>
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="0 ₽" disabled>
              </div>
            </div>
          </div>

          <div class="modal-with-form__formset-bottom">
            <div class="modal-with-form__formset-wrapper-item">
              <div class="modal-with-form__formset-wrapper-item-body">
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="Итого" disabled>
                <input class="modal-with-form__formset-wrapper-item-content" type="text" value="11 000 000 ₽" disabled>
              </div>
            </div>

            <h3 class="modal-with-form__formset-bottom-title">Ваши контактные данные</h3>
            <div class="modal-with-form__formset-bottom-field">
              <span class="modal-with-form__formset-bottom-label">Ф.И.О *</span>
              <input type="text" class="modal-with-form__formset-bottom-input" placeholder="Можно указать только имя" name="name">
            </div>
            <div class="modal-with-form__formset-bottom-field">
              <span class="modal-with-form__formset-bottom-label">Номер телефона *</span>
              <input type="text" class="modal-with-form__formset-bottom-input" placeholder="+7 999 000 00-00" name="phone">
            </div>
            <div class="modal-with-form__formset-bottom-field">
              <span class="modal-with-form__formset-bottom-label">Комментарий к заявке</span>
              <textarea type="text" class="modal-with-form__formset-bottom-input" placeholder="Наберите текст" name="text"></textarea>
            </div>
          </div>

          <button class="modal-with-form__formset-bottom-submit main-button main-button--yellow" type="submit">Отправить заявку</button>

          <div class="modal-with-form__formset-bottom-info">
            <p>
              Нажимая на кнопку “Отправить заявку”,
              вы даете согласие на обработку персональных
              данных и соглашаетесь с условиями политики
              конфиденциальности.
            </p>
          </div>

        </form>
      </div>
      <div class="modal-with-form__success"></div>
    </div>
  </div>

  <div class="modal-without-form" id="modal_without_form">
    <div class="modal-without-form__wrapper">
      <div class="modal-without-form__success">
        <span class="modal-without-form__success-text"></span>
      </div>
    </div>
  </div>

  <header class="page-header">
    <nav class="main-nav">

      <div class="main-nav__container base-container">

        <a class="main-nav__logo-link" href="index.html">
          <svg class="main-nav__logo-icon" width="154" height="54" alt="Логотип">
            <use href="img/icon/sprite.svg#logo-icon"></use>
          </svg>
        </a>

        <div class="main-nav__mobile-menu" id="mobile_menu">
          <ul class="main-nav__mobile-menu-list">
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="catalogue_cars.html">Автомобили</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="catalogue_goods.html">Аксессуары и тюнинг</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="page-services.html">Сервис</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="page.html">Доставка</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="#">Лизинг/кредит</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="#">Франшиза</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link" href="page-about.html">О нас</a>
            </li>
          </ul>

          <div class="main-nav__contacts display-on-mobile">
            <span class="main-nav__contacts-title">Наши контакты</span>
            <a class="main-nav__contacts-phone" href="tel:+7 495-001-18-88">
              <svg class="main-nav__contacts-phone-icon" width="24" height="24" aria-hidden="true">
                <use href="img/icon/sprite.svg#phone-icon"></use>
              </svg>
              <span class="main-nav__contacts-phone-text">+7 495-001-18-88</span>
            </a>
            <span class="main-nav__contacts-time">Время работы: с 9 до 21 часов</span>
            <div class="main-nav__contacts-address">
              <svg class="main-nav__contacts-address-icon" width="24" height="24" aria-hidden="true">
                <use href="img/icon/sprite.svg#address-icon"></use>
              </svg>
              <span class="main-nav__contacts-address-text">
                Московская область, Красногорский
                район Новорижское ш., 23 км,
                вл 2 стр 1, ТРЦ «Ригамолл»
              </span>
            </div>
          </div>

          @@include('../_bem/_socials.html')

          <!-- <ul class="main-nav__socials display-on-mobile">
            <li class="main-nav__socials-item">
              <a class="main-nav__socials-link" href="#">
                <img class="main-nav__socials-img" src="img/image/socials1.svg" alt="#">
              </a>
            </li>
            <li class="main-nav__socials-item">
              <a class="main-nav__socials-link" href="#">
                <img class="main-nav__socials-img" src="img/image/socials2.svg" alt="#">
              </a>
            </li>
            <li class="main-nav__socials-item">
              <a class="main-nav__socials-link" href="#">
                <img class="main-nav__socials-img" src="img/image/socials3.svg" alt="#">
              </a>
            </li>
          </ul> -->

        </div>

        <a class="main-nav__contacts-phone hide-on-mobile" href="tel:+7 495-001-18-88">
          <svg class="main-nav__contacts-phone-icon" width="24" height="24" aria-hidden="true">
            <use href="img/icon/sprite.svg#phone-icon"></use>
          </svg>
          <span class="main-nav__contacts-phone-text">+7 495-001-18-88</span>
        </a>

        <button class="main-nav__burger" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>

      </div>
    </nav>
  </header>

  <div class="preloader preloader--active">
    <div class="preloader__circle">

    </div>
  </div>

  <style>
    .preloader {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100vh;
      background-color: #0B101A;
      opacity: 0;
      user-select: none;
      pointer-events: none;

      transition: opacity 0.3s;

      z-index: 100;
    }

    .preloader--active {
      opacity: 100%;

      user-select: all;
      pointer-events: all;

      transition: opacity 0.3s;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .preloader__circle {
      width: 120px;
      height: 120px;
      border: 16px solid #FFF;
      border-top: 16px solid #FFE76AF5;
      border-radius: 50%;

      animation: spin 2s linear infinite;
    }
  </style>

  <script>
    window.addEventListener('load', () => {
      document.querySelector('.preloader').classList.remove('preloader--active');
      document.body.setAttribute('style', '');
    })
  </script>