<section class="contacts">
  <div class="contacts__container base-container">
    <div class="contacts__map"></div>
    <div class="contacts__info">
      <svg class="contacts__info-logo" width="188" height="66" aria-hidden="true">
        <use href="img/icon/sprite.svg#logo-icon"></use>
      </svg>
      <a class="main-nav__contacts-phone" href="tel:+7 495-001-18-88">
        <svg class="main-nav__contacts-phone-icon" width="24" height="24" aria-hidden="true">
          <use href="img/icon/sprite.svg#phone-icon"></use>
        </svg>
        <span class="main-nav__contacts-phone-text">+7 495-001-18-88</span>
      </a>
      <div class="main-nav__contacts-address">
        <svg class="main-nav__contacts-address-icon" width="24" height="24" aria-hidden="true">
          <use href="img/icon/sprite.svg#address-icon"></use>
        </svg>
        <span class="main-nav__contacts-address-text">
          Московская область, Красногорский
          район Новорижское ш., 23 км,
          вл 2 стр 1, ТРЦ «Ригамолл»
        </span>
      </div>
    </div>
  </div>
</section>