<div class="questions" style="overflow-x: hidden;">
  <div class="questions__heading">
    <div class="questions__heading-column questions__heading-column--left">
      <span class="questions__heading-title">
        Остались вопросы?
      </span>
      <p class="questions__heading-subtitle">
        Задайте их специалиступо телефону горячей линии,закажите звонок или напишите нам
      </p>
    </div>
    <div class="questions__heading-column questions__heading-column--right">
      <a class="questions__heading-phone" href="rel:+7 495-001-18-88">
        +7 495-001-18-88
      </a>
      <span class="questions__heading-time">
        Время работы: с 9 до 21 часов
      </span>
      @@include('./_socials.html')
    </div>
  </div>

  <div class="questions__accordion">
    <h2 class="questions__accordion-title section-title">Вопрос-ответ</h2>
    <div class="questions__accordion-container">
      <div class="questions__accordion-item">
        <div class="questions__accordion-item-top">
          <span class="questions__accordion-item-name">Связь 5G, новый способ связи автомобилей с внешним миром</span>
          <svg class="questions__accordion-item-icon" width="9" height="14" style="transform: rotate(-90deg); transition: transform 0.3s;">
            <use href="img/icon/sprite.svg#brands-arrow-icon"></use>
          </svg>
        </div>
        <div class="questions__accordion-item-content accordion-content base-par">
          <p>
            E-пропорция — в которой используется конструкция с перемещением точки капота вперед и лобового стекла с большим углом наклона 65 градусов, образующим форму суперкара. 22-дюймовые колеса в сочетании с полным приводом и регулируемой пневматической
            подвеской создают образ внедорожника.
          </p>
        </div>
      </div>
      <div class="questions__accordion-item">
        <div class="questions__accordion-item-top">
          <span class="questions__accordion-item-name">Система управления энергопотреблением Cross-loop</span>
          <svg class="questions__accordion-item-icon" width="9" height="14" style="transform: rotate(-90deg); transition: transform 0.3s;">
            <use href="img/icon/sprite.svg#brands-arrow-icon"></use>
          </svg>
        </div>
        <div class="questions__accordion-item-content accordion-content base-par">
          <p>
            E-пропорция — в которой используется конструкция с перемещением точки капота вперед и лобового стекла с большим углом наклона 65 градусов, образующим форму суперкара. 22-дюймовые колеса в сочетании с полным приводом и регулируемой пневматической
            подвеской создают образ внедорожника.
          </p>
        </div>
      </div>
      <div class="questions__accordion-item">
        <div class="questions__accordion-item-top">
          <span class="questions__accordion-item-name">Бесконтактный интеллектуальный доступ</span>
          <svg class="questions__accordion-item-icon" width="9" height="14" style="transform: rotate(-90deg); transition: transform 0.3s;">
            <use href="img/icon/sprite.svg#brands-arrow-icon"></use>
          </svg>
        </div>
        <div class="questions__accordion-item-content accordion-content base-par">
          <p>
            E-пропорция — в которой используется конструкция с перемещением точки капота вперед и лобового стекла с большим углом наклона 65 градусов, образующим форму суперкара. 22-дюймовые колеса в сочетании с полным приводом и регулируемой пневматической
            подвеской создают образ внедорожника.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>