@use "../mixins";

.banners {
  &__container {
    @include mixins.respond-to(notDesktopFr) {
      width: 100%;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;

    &-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      height: auto;
      border-radius: 8px;
      border: 1px solid #272D3B;

      padding: 0 0 61px 0;

      @include mixins.respond-to(notDesktopFr) {
        padding: 20px 25px;
      }

      &-icon {
        max-width: 100%;

        margin: 0 0 35px 0;

        @include mixins.respond-to(notDesktopFr) {
          margin: 0 0 15px 0;
        }
      }

      &-title {
        font-family: var(--font-family-second);
        font-size: 48px;
        font-weight: 700;
        line-height: 57px;

        margin: 0 0 14px 0;

        @include mixins.respond-to(notDesktopFr) {
          font-size: 32px;
          line-height: 38px;

          text-align: center;

          margin: 0 0 6px 0;
        }
      }

      &-subtitle {
        display: inline-block;

        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        color: #D9D9D9;

        margin: 0 0 21px 0;

        @include mixins.respond-to(notDesktopFr) {
          font-size: 24px;
          line-height: 28px;

          margin: 0 0 37px 0;
        }
      }

      &-link {
        margin: 0 0 64px 0;

        @include mixins.respond-to(notDesktopFr) {
          margin: 0 0 28px 0;
        }
      }
    }

    &-pagination {
      top: auto !important;
      right: 0 !important;
      bottom: 53px !important;
      left: 0 !important;

      @include mixins.respond-to(notDesktopFr) {
        bottom: 14px !important;
      }

      & .swiper-pagination-bullet {
        width: 129px;
        height: 8px;
        border-radius: 10px;
        background: #898989;

        transition: background 0.6s;

        margin: 0 20px 0 0 !important;

        @include mixins.respond-to(notDesktopFr) {
          width: 53px;
        }

        &:last-of-type {
          margin: 0 !important;
        }

        &:hover {
          background: #e8e8e8;

          transition: background 0.6s;
        }
      }

      & .swiper-pagination-bullet-active {
        background: #D9D9D9;

        transition: background 0.6s;
      }
    }
  }

  &__slider,
  .banners__slider-wrapper,
  .banners__slider-slide {
    min-height: 915px;

    @include mixins.respond-to(notDesktopFr) {
      min-height: 569px;
    }
  }
}