@use "../mixins";

.brands {
  position: relative;

  background: url('../img/image/brands.png') no-repeat;
  background-position: center bottom;
  background-size: 100% 490px;
  padding: 85px 0 116px 0;

  @include mixins.respond-to(notDesktop) {
    background: none;

    padding: 20px 0 60px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__slider-container {
    position: relative;

    width: 100%;
    max-width: 100%;

    margin: 0 0 92px 0;

    @include mixins.respond-to(notDesktop) {
      margin: 0 0 132px 0;
    }
  }

  &__slider {
    position: relative;

    width: 100%;

    @include mixins.respond-to(notDesktop) {
      max-width: 90%;
    }

    @include mixins.respond-to(desktopD) {
      max-width: 1066px;
    }

    &-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      height: auto;

      @include mixins.respond-to(notDesktop) {
        max-width: 120px;
      }
    }

    &-arrows {
      position: absolute;
      top: 50%;
      left: 50%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 73%;
      user-select: none;
      pointer-events: none;

      transform: translate(-50%, -50%);

      & .swiper-button-disabled {
        opacity: 0.3;

        transition: opacity 0.3s;
      }
    }

    @media (min-width:320px) and (max-width: 1599px) {
      &-arrows {
        width: 100%;
      }
    }

    &-arrow {
      user-select: all;
      pointer-events: all;

      transition: opacity 0.3s;
    }
  }

  &__catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

    width: 100%;

    margin: 0 0 177px 0;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 60px;

      margin: 0 0 42px 0;
    }

    &-link {
      display: flex;

      opacity: 0.3;

      transition: 1s ease;

      &:hover {
        opacity: 1;
        transition: 1s ease;
      }

      @include mixins.respond-to(notDesktop) {

        opacity: 1;

        &:nth-child(1) {
          & .brands__catalogue-img {
            margin: 0 0 40px 0;
          }
        }
      }
    }

    &-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;

      @include mixins.respond-to(notDesktop) {
        gap: 0;
      }
    }

    &-img {
      @include mixins.respond-to(notDesktop) {
        width: 100%;
      }
    }

    &-label {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  &__feedback {

    overflow: hidden;

    @include mixins.respond-to(notDesktop) {
      background: url('../img/image/brands.png') no-repeat;
      background-position: center center;
      background-size: contain
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-size: 40px;
      font-weight: 600;
      line-height: 40px;

      margin: 0 0 15px 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 24px;
        text-align: center;
      }
    }

    &-subtitle {
      display: inline-block;

      opacity: 0.4;

      font-size: 20px;
      font-weight: 400;
      line-height: 24px;

      margin: 0 0 30px 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 16px;
        text-align: center;

        margin: 0 0 13px 0;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-input {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 420px;
      background: none;
      border: none;
      border-bottom: 1px solid #54585f;
      outline: none;

      font-family: var(--font-family-default);
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #FFF;
      text-align: center;

      padding: 0 0 8px 0;
      margin: 0 0 25px 0;

      &:last-of-type {
        margin: 0 0 40px 0;
      }

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 16px 0;

        &:last-of-type {
          margin: 0 0 24px 0;
        }
      }
    }
  }

  @keyframes lights {
    0% {
      opacity: 0.4;

      transform: scale(1);
      transform-origin: center;
    }

    50% {
      opacity: 1;

      transform: scale(1.1);
      transform-origin: center;
    }

    100% {
      opacity: 0.4;

      transform: scale(1);
      transform-origin: center;
    }
  }

  &__lights {
    position: absolute;
    bottom: 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 400px;

    width: 100%;
    max-width: 100%;
    height: fit-content;
    user-select: none;
    pointer-events: none;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }

    & svg {
      & path {
        animation: lights 8s ease-in-out infinite;
      }
    }
  }
}