@use "../mixins";

.catalogue-goods {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 39px;

    @include mixins.respond-to(notDesktopFr) {
      gap: 19px;
    }
  }

  &__content {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(514px, 1fr));
    grid-auto-flow: row;
    gap: 30px 27px;

    width: 100%;

    @include mixins.respond-to(notDesktopFr) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
      grid-auto-flow: row;
      gap: 15px 17px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      // width: 514px;
      width: 100%;
      min-height: 609px;
      background: #272D3B;
      border-radius: 8px;

      padding: 44px 36px 28px 36px;

      @include mixins.respond-to(notDesktopFr) {
        width: 100%;
        min-height: auto;

        padding: 12px 12px 19px 12px;

        &-img {
          width: 100%;
          height: auto;

          @include mixins.respond-to(notDesktopFr) {
            max-height: 245px;
            object-fit: contain !important;
          }
        }
      }

      &-category {
        display: inline-block;

        font-family: var(--font-family-second);
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #C9C9C9;

        margin: 0 0 18px 0;

        @include mixins.respond-to(notDesktopFr) {
          font-size: 16px;

          margin: 0 0 12px 0;
        }
      }

      &-title {
        display: inline-block;

        font-family: var(--font-family-second);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #C9C9C9;

        margin: 0 0 19px 0;

        @include mixins.respond-to(notDesktopFr) {
          font-size: 22px;

          margin: 0 0 19px 0;
        }
      }

      &-price {
        display: inline-block;

        font-family: var(--font-family-second);
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #C9C9C9;

        margin: 0 0 28px 0;

        @include mixins.respond-to(notDesktopFr) {
          margin: 0 0 19px 0;
        }
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        margin: 0 0 34px 0;

        @include mixins.respond-to(notDesktopFr) {
          margin: 0 0 19px 0;
        }
      }

      &-button {
        margin: 0 auto;
      }
    }
  }
}