@use "../mixins";

.catalogue-cars {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__wrapper {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 116px;

    width: 100%;

    @include mixins.respond-to(notDesktop) {
      margin: 30px 0 0 0;
    }

    &-column {
      &--left {
        min-width: 250px;
        min-height: 1069px;

        @include mixins.respond-to(notDesktop) {
          position: fixed;
          top: 0;
          left: 0;

          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          width: 100%;
          height: -webkit-fill-available;
          min-height: auto;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          overscroll-behavior-y: contain;
          background-color: #0B101A;
          opacity: 0;
          user-select: none;
          pointer-events: none;

          transition: opacity 0.3s;
          transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);

          padding: 20px 4% 100px 4%;

          z-index: 20;

          &--active {
            opacity: 1;
            pointer-events: all;

            transition: opacity 0.3s;
            transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
          }
        }
      }

      &--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        width: 100%;
      }
    }
  }

  &__filters {
    &-title {
      font-family: var(--font-family-second);
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      color: #FFF;

      margin: 0 0 22px 0;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 24px;

      width: 100%;

      & .berocket_single_filter_widget {
        width: 100%;
      }

      & .bapf_sfilter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 21px;

        width: 100%;
      }

      & .bapf_head {
        & h3 {
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
        }
      }

      & .bapf_body {
        width: 100%;

        & ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 14px;
        }

        & li {
          &:hover {
            & label {
              color: #ffe76a;

              transition: color 0.3s;
            }
          }
        }

        & input {
          position: absolute;

          width: 1px;
          height: 1px;
          border: 0;
          padding: 0;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;

          white-space: nowrap;

          margin: -1px;
        }

        & input:checked~label::after {
          transform: translateY(-50%) scale(1);
          transition: transform 0.3s;
        }

        & label {
          position: relative;

          display: inline-block;

          user-select: none;
          cursor: pointer;

          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;

          transition: color 0.3s;

          padding: 0 0 0 37px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;

            width: 21px;
            height: 21px;
            border: 1px solid #FFF;
            border-radius: 2px;

            transform: translateY(-50%);

            z-index: 1;
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;

            width: 21px;
            height: 21px;
            background: url('../img/image/check.svg') no-repeat;
            background-size: 21px 21px;

            transform: translateY(-50%) scale(0);
            transition: transform 0.3s;

            z-index: 2;
          }
        }
      }

      & .bapf_slidr_all {

        & .bapf_from,
        .bapf_to {
          position: absolute;

          width: 1px;
          height: 1px;
          border: 0;
          padding: 0;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;

          white-space: nowrap;

          margin: -1px;
        }

        & .bapf_slidr_main {
          width: 100%;
          height: 4px;
          background-color: #414141 !important;
          border-radius: 2px;
        }

        & .ui-slider-range {
          background-color: #D6D6D6 !important;
        }

        & .ui-slider-handle {
          width: 6px !important;
          height: 6px !important;
          background-color: #FFF !important;
          border-radius: 50% !important;
        }
      }

      & button {
        font-family: var(--font-family-default);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #FFF;
        text-decoration-line: underline;
        text-transform: uppercase;

        transition: color 0.3s;

        &:hover {
          color: #ffe76a;

          transition: color 0.3s;
        }

        @include mixins.respond-to(notDesktop) {
          margin: 20px 0 0 0;
        }
      }

      & .catalogue-cars__filters-content-close {
        position: fixed;
        bottom: 0;
        left: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        min-height: 50px;
        background: #ffe76a;
        // border-radius: 50px;

        transform: translateX(-50%);

        font-family: var(--font-family-default);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #0B101A;
        text-transform: uppercase;
        text-decoration: none;

        z-index: 21;
      }
    }
  }

  &__main {

    &-select-wrapper {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;

        width: 14px;
        height: 9px;
        background: url('../img/image/select-arrow.svg') no-repeat;
        background-size: 14px 9px;
        user-select: none;
        pointer-events: none;

        transform: translateY(-50%);

        z-index: 2;
      }

      & h1 {
        display: inline-block;

        width: 100%;

        margin: 0 0 10px 0;
      }

      & select {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 148px;
        min-height: 36px;
        background: #272D3B;
        border: none;
        border-radius: 2px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;

        font-family: var(--font-family-default) !important;
        font-size: 16px;
        font-weight: 500;
        color: #E0E4E7;

        padding: 10px 30px 10px 20px;

        z-index: 1;

        @include mixins.respond-to(notDesktop) {
          flex-shrink: 1;
        }

        & option {
          font-size: 16px;
          font-weight: 500;
          color: #E0E4E7;
        }
      }
    }

    &-wrapper {
      display: grid;
      grid-auto-flow: row;

      width: 100%;

      margin: 0 0 64px 0;
    }

    @media(min-width: 320px) and (max-width: 699px) {
      &-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
        gap: 20px 9px;
      }
    }

    @media(min-width: 700px) {
      &-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
        gap: 20px 39px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      width: 100%;
      min-height: 452px;
      background: #272D3B;
      border-radius: 16px;

      padding: 24px;

      @include mixins.respond-to(notDesktop) {
        gap: 15px;

        padding: 8px 8px 10px 8px;
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        width: 100%;
      }

      &-logo {
        @include mixins.respond-to(notDesktop) {
          width: 16px;
          height: 16px;
          object-fit: contain !important;
        }
      }

      &-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3px;

        @include mixins.respond-to(notDesktop) {
          gap: 1px;
        }
      }

      &-type {
        font-family: var(--font-family-second);
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #C9C9C9;

        @include mixins.respond-to(notDesktop) {
          font-size: 14px;
        }
      }

      &-title {
        font-family: var(--font-family-second);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #FFF;

        @include mixins.respond-to(notDesktop) {
          font-size: 20px;
        }
      }

      &-price {
        display: inline-block;

        width: 100%;

        font-family: var(--font-family-second);
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #C9C9C9;
        text-align: left;

        @include mixins.respond-to(notDesktop) {
          font-size: 16px;
        }
      }

      &-img {
        width: 100%;
        object-fit: contain !important;
      }

      &-features {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 35px;

        @include mixins.respond-to(notDesktop) {
          justify-content: flex-start;

          width: 100%;
        }

        &-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;
        }
      }

      &-button {
        flex-shrink: 0;

        width: 100%;
      }
    }

    &-banner {
      grid-row: 3;
      grid-column: 1 / -1;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 100%;
      height: 500px;
      background: rgba(255, 231, 106, 0.96);
      border-radius: 8px;

      &-info {
        flex-shrink: 0;

        height: 100%;

        padding: 46px 0 63px 56px;

        & .catalogue-cars__main-item-type,
        .catalogue-cars__main-item-title,
        .catalogue-cars__main-item-price,
        .catalogue-cars__features-item-title,
        .catalogue-cars__features-item-value-text,
        .catalogue-cars__main-item-button {
          color: #0B101A;
        }

        & .catalogue-cars__main-item-top {
          margin: 0 0 17px 0;
        }

        & .catalogue-cars__main-item-name {
          gap: 0;
        }

        & .catalogue-cars__main-item-type {
          font-size: 18px;
          line-height: 18px;
        }

        & .catalogue-cars__main-item-title {
          font-size: 64px;
          font-weight: 700;
          line-height: 120%;
        }

        & .catalogue-cars__main-item-price {
          display: inline-block;

          font-size: 32px;
          font-weight: 400;
          line-height: 18px;

          margin: 0 0 73px 0;
        }

        & .catalogue-cars__main-item-features {
          justify-content: center;
          gap: 24px;

          margin: 0 0 42px 0;
        }

        & .catalogue-cars__main-item-button {
          width: 250px !important;
          border: 1px solid #0B101A !important;
        }
      }

      &-img {
        flex-shrink: 0;

        width: 830px;
        height: 500px;
        object-fit: contain;
      }
    }
  }

  &__features {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4px;

      &-title {
        font-family: var(--font-family-second);
        font-size: 12px;
        font-weight: 400;

        color: #E0E4E7;
      }

      &-value {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &-img {
          @include mixins.respond-to(notDesktop) {
            display: none;
          }
        }

        &-text {
          font-family: var(--font-family-second);
          font-size: 18px;
          font-weight: 400;

          color: #E0E4E7;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

  margin: 0 auto;

  & .screen-reader-text {
    display: none;
  }

  & .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  & .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 49px;
    height: 49px;
    background: #8e9094;
    border-radius: 50%;

    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;

    transition: background 0.3s;

    &:hover {
      background: #ffe76a;

      transition: background 0.3s;
    }
  }

  & .current {
    user-select: none;
    pointer-events: none;

    background: #FFF;

    transition: background 0.3s;
  }

  & .prev,
  .next {
    background: url('../img/image/pagination-arrow.svg') transparent no-repeat;
    background-size: 8px 13px;
    background-position: 21px center;

    border: 1px solid #373c4a;

    transition: background 0.3s;

    &:hover {
      background: url('../img/image/pagination-arrow.svg') #ffe76a no-repeat;
      background-size: 8px 13px;
      background-position: 21px center;

      transition: background 0.3s;
    }
  }

  & .prev {
    transform: scaleX(-1);
  }
}


.catalogue-cars__select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

  width: 100%;

  margin: 0 0 16px 0;

  @include mixins.respond-to(notDesktop) {
    margin: 0 0 20px 0;
  }

  & h1 {
    display: inline-block;

    width: 100%;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    @include mixins.respond-to(notDesktop) {
      justify-content: space-between;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    font-family: var(--font-family-default);
    font-size: 16px;
    font-weight: 500;
    color: #E0E4E7;
  }
}