@use "../mixins";

.footer-top {
  border-top: 1px solid #444850;

  padding: 40px 0 0 0;
  margin: 86px 0 0 0;

  @include mixins.respond-to(notDesktopFr) {
    padding: 19px 0 0 0;
    margin: 60px 0 0 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include mixins.respond-to(notDesktopFr) {
      flex-direction: column;
      align-items: center;
      gap: 20 px;

      width: 84% !important;
    }
  }

  &__column {
    &--left {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 45px;

      @include mixins.respond-to(notDesktopFr) {
        order: 1;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

      & .main-nav__contacts-address {
        align-items: center;
      }

      & .main-nav__contacts-address-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        font-size: 12px;
        color: #9d9fa3;

        max-width: 360px;

        & span {
          font-size: 14px;
          color: #FFF;
          white-space: nowrap;
        }

        @media (min-width: 320px) and (max-width: 1365px) {
          & span {
            white-space: initial;
          }
        }
      }
    }

    &--right {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 60px;

      @include mixins.respond-to(notDesktopFr) {
        order: 2;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        width: 100%;
      }

      & div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include mixins.respond-to(notDesktopFr) {
          align-items: center;
        }
      }

      & .main-nav__contacts-phone {
        gap: 18px;
      }

      & .main-nav__contacts-phone-text {
        font-size: 24px;
      }

      @media (min-width: 1200px) and (max-width: 1365px) {
        & .main-nav__contacts-phone-text {
          font-size: 18px;
        }
      }

      & .brands__feedback-submit {
        width: 100%;
        max-width: 300px;
      }
    }

    &--center {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      margin: 30px 0 0 0;

      & .main-nav__mobile-menu-list {
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include mixins.respond-to(notDesktopFr) {
          justify-content: space-between;
          gap: 20px;
        }
      }

      & .main-nav__mobile-menu-item {
        width: fit-content !important;
      }

      & .main-nav__mobile-menu-link {
        font-size: 14px;
      }

      & .socials {
        width: fit-content !important;

        margin: 0;
      }

      @include mixins.respond-to(notDesktopFr) {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        & .main-nav__mobile-menu-list {
          align-items: flex-start !important;

          margin: 0 0 30px 0 !important;
        }
      }
    }

    &-phone-subline {
      display: inline-block;

      font-size: 14px;
      font-weight: 400;

      margin: 0 0 19px 0;

      @include mixins.respond-to(notDesktopFr) {
        margin: 0 0 8px 0;
      }
    }

    &-logo-icon {
      width: 220px;
      height: auto;
    }
  }
}