@use "../mixins";

.footer-top {
  border-top: 1px solid #444850;

  padding: 40px 0 0 0;
  margin: 86px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    padding: 19px 0 0 0;
    margin: 60px 0 0 0;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      align-items: center;
      gap: 29px;

      width: 84% !important;
    }
  }

  &__column {
    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;

      @include mixins.respond-to(notDesktop) {
        order: 1;
        align-items: flex-start;
        gap: 15px;
      }

      & .main-nav__contacts-address-text {
        display: inline-block;

        color: #9d9fa3;

        max-width: 360px;
      }
    }

    &--center {

      @include mixins.respond-to(notDesktop) {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        & .main-nav__mobile-menu-list {
          flex-direction: row !important;
          align-items: flex-start !important;

          margin: 0 0 30px 0 !important;
        }

        & .main-nav__mobile-menu-item {
          width: fit-content !important;
        }
      }

      & .main-nav__mobile-menu-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        max-width: 500px;

        margin: 0 0 50px 0;
      }

      & .socials {
        margin: 0;
      }
    }

    &--right {

      @include mixins.respond-to(notDesktop) {
        order: 2;
        align-items: center;

        width: 100%;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      & .main-nav__contacts-phone {
        gap: 18px;

        margin: 0 0 7px 0;
      }

      & .main-nav__contacts-phone-text {
        font-size: 24px;
      }

      & .brands__feedback-submit {
        width: 100%;
        max-width: 300px;
      }
    }

    &-phone-subline {
      display: inline-block;

      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.40);

      margin: 0 0 19px 0;
    }
  }
}