@use "../mixins";

.heading {
  position: relative;

  // height: 970px;
  height: 100dvh;
  min-height: 500px;

  @include mixins.respond-to(notDesktop) {
    // height: auto;
    height: 100dvh;

    // padding: 165px 0 24px 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 94px;
      background: linear-gradient(180deg, rgba(11, 16, 26, 0.00) 0%, rgba(11, 16, 26, 0.40) 30.87%, rgba(11, 16, 26, 0.94) 64.11%, #0B101A 100%);

      z-index: -1;
    }
  }

  &__container {
    position: relative;

    display: flex;
    // align-items: flex-end;
    align-items: center;
    justify-content: center;

    height: 100%;

    // padding: 0 0 320px 0;
    padding: 0;

    @include mixins.respond-to(notDesktop) {
      padding: 0;
    }
  }

  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -1;
  }

  &__content {
    position: relative;
    top: 68px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 67px;

    width: 100%;

    @include mixins.respond-to(notDesktop) {
      top: auto;

      gap: 20px;
    }
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }

    5% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-64px);
    }

    40% {
      transform: translateY(calc(-64px * 2));
    }

    60% {
      transform: translateY(calc(-64px * 3));
    }

    80% {
      transform: translateY(calc(-64px * 4));
    }

    // 85% {
    //   transform: translateY(calc(-64px * 4));
    // }

    100% {
      // transform: translateY(0);

      transform: translateY(calc(-64px * 5));
    }
  }

  @keyframes move_mobile {
    0% {
      transform: translateY(0);
    }

    5% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-48px);
    }

    40% {
      transform: translateY(calc(-48px * 2));
    }

    60% {
      transform: translateY(calc(-48px * 3));
    }

    80% {
      transform: translateY(calc(-48px * 4));
    }

    // 85% {
    //   transform: translateY(calc(-48px * 4));
    // }

    100% {
      // transform: translateY(0);
      transform: translateY(calc(-48px * 5));
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-family: var(--font-family-second);
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;

    @include mixins.respond-to(notDesktop) {
      gap: 8px;

      font-size: 40px;
    }

    &-variants {
      min-width: 463px;
      height: 64px;
      overflow: hidden;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: 48px;
        min-width: auto;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;

        &--active {
          animation: move 5s infinite forwards;
          animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
          animation-delay: 0.3s;

          @include mixins.respond-to(notDesktop) {
            animation: move_mobile 5s infinite forwards;
            animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
            animation-delay: 0.1s;
          }
        }
      }
    }

    &-variant {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-weight: 400;
      text-align: center;

      @include mixins.respond-to(notDesktop) {
        height: 48px;
      }

      &--1 {
        font-weight: 700;
      }

      &--2 {
        font-family: 'Caveat', system-ui, sans-serif;
      }

      &--3 {
        font-family: 'Zen-Old-Mincho', system-ui, sans-serif;
        font-size: 50px;
        text-transform: uppercase;

        @include mixins.respond-to(notDesktop) {
          font-size: 40px;
          text-transform: none;
        }
      }

      &--4 {
        font-family: 'Press-Start-2p', system-ui, sans-serif;
        font-size: 50px;

        @include mixins.respond-to(notDesktop) {
          font-size: 20px;
        }
      }

      &--5 {
        font-family: 'Marck-Script', system-ui, sans-serif;

        font-size: 55px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    background: rgba(255, 231, 106, 0.96);
    border-radius: 50px;
    opacity: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #0B101A;

    padding: 12px 20px;

    transform: translateY(-50px);
    transition: opacity 0.6s, transform 0.6s, box-shadow 0.3s;

    &--active {
      opacity: 1;

      transform: translateY(0);
      transition: opacity 0.6s, transform 0.6s, box-shadow 0.3s;
    }

    &:hover {
      -webkit-box-shadow: 0px 0px 60px 0px rgba(255, 230, 106, 0.98);
      -moz-box-shadow: 0px 0px 60px 0px rgba(255, 230, 106, 0.98);
      box-shadow: 0px 0px 60px 0px rgba(255, 230, 106, 0.98);

      transition: box-shadow 0.3s;
    }
  }

  &__whatsapp {
    position: fixed;
    top: 50%;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;

    transform: translateY(-50%);
    transition: width 0.3s;

    padding: 9px;

    z-index: 99;

    @include mixins.respond-to(notDesktop) {
      bottom: -54px;

      justify-content: center;

      width: 58px;
      height: 58px;

      transition: transform 0.3s;

      padding: 7px;

      &:active {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }

    @include mixins.respond-to(desktopD) {
      &:hover {
        width: 208px;

        transition: width 0.3s;

        & .heading__whatsapp-text {
          opacity: 1;

          transition: opacity 0.3s;
          transition-delay: 0.1s;
        }
      }
    }

    &-icon {
      @include mixins.respond-to(notDesktop) {
        width: 44px;
        height: 44px;
      }
    }

    &-text {
      position: absolute;
      right: 80px;

      opacity: 0;

      font-family: var(--font-family-second);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
      color: #0B101A;
      text-transform: uppercase;

      transition: opacity 0.1s;
    }
  }
}