@use "../mixins";

.modal-success {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 100px 100px 90px 100px;

  &--active {
    display: flex;
  }

  @include mixins.respond-to(mobileOnly) {
    padding: 60px 20px;
  }

  &__title {
    max-width: 370px;

    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #0B101A;
    text-align: center;

    margin: 0 0 21px 0;
  }

  &__subtitle {
    display: inline-block;

    max-width: 370px;

    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: #9C9C9C;
    text-align: center;

    margin: 0 0 44px 0;
  }

  & .cars-modal__close,
  .success-modal__close,
  .callback-modal__close {
    border: 1px solid #0B101A !important;

    color: #0B101A !important;
  }
}

.cars-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  color: #000;

  transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  @include mixins.respond-to(mobileOnly) {
    padding: 20px 10px;
  }

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFF;
    border: 1px solid #30363D;
    border-radius: 16px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
    }
  }

  &__close--top {
    position: absolute;
    top: 24px;
    right: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 10px;
      right: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-width: 702px;
    height: 90dvh;
    overflow-y: auto;

    padding: 49px 70px;

    @include mixins.respond-to(mobileOnly) {
      min-width: auto;
      height: 95dvh;

      padding: 70px 5%;
    }

    &--hidden {
      display: none;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 18px;
      color: #0B101A;

      margin: 0 0 57px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 20px 0;
      }
    }

    &-subtitle {
      display: inline-block;

      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      color: #0B101A;

      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 15px 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;

      width: 100%;

      margin: 0 0 23px 0;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 11px;

        width: 100%;

        @include mixins.respond-to(mobileOnly) {
          gap: 20px;
        }

        &-title {
          width: 100%;

          font-family: var(--font-family-second);
          font-size: 20px;
          font-weight: 400;
          color: #0B101A;
          text-align: left;
        }

        &-body {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          @include mixins.respond-to(mobileOnly) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
          }
        }

        &-content {
          flex: 1;

          border: none !important;
          background: none !important;

          font-weight: 400;
          color: #0B101A;

          @include mixins.respond-to(mobileOnly) {
            flex: auto;

            width: 100%;

            text-align: left !important;
          }

          &:nth-of-type(1) {
            font-family: var(--font-family-default);
            font-size: 18px;
            text-align: left;

            @include mixins.respond-to(mobileOnly) {
              font-size: 16px;
            }
          }

          &:nth-of-type(2) {
            font-family: var(--font-family-second);
            font-size: 20px;
            text-align: right;

            @include mixins.respond-to(mobileOnly) {
              font-size: 16px;
            }
          }
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      border-top: 1px solid #D9D9D9;

      padding: 34px 0 0 0;

      & .cars-modal__form-wrapper-item {
        margin: 0 0 38px 0;
      }

      & .cars-modal__form-wrapper-item-content:nth-of-type(1) {
        font-family: var(--font-family-second);
        font-size: 20px;
      }

      &-title {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: #0B101A;

        margin: 0 0 23px 0;
      }

      &-field {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0 24px 0;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }

        &:nth-of-type(4) {
          & .cars-modal__form-bottom-input {
            height: 82px;
          }
        }
      }

      &-label {
        position: absolute;
        top: -9px;
        left: 19px;

        display: inline-block;
        background: #FFF;

        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 0 8px;

        z-index: 2;
      }

      &-input {
        width: 380px;
        height: 49px;
        border-radius: 8px;
        border: 1px solid #434343;

        font-family: var(--font-family-default);
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 15px 19px 17px 19px;

        z-index: 1;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }
      }

      &-submit {
        color: #0B101A !important;

        margin: 0 0 16px 0 !important;

        @include mixins.respond-to(tablet) {
          width: 380px !important;
        }
      }

      &-info {
        max-width: 380px;

        text-align: center;
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        color: #0B101A;
      }

      & textarea {
        resize: none !important;
      }
    }
  }
}

.goods-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  color: #000;

  transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  @include mixins.respond-to(mobileOnly) {
    padding: 20px 10px;
  }

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFF;
    border: 1px solid #30363D;
    border-radius: 16px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
    }
  }

  &__close--top {
    position: absolute;
    top: 24px;
    right: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 10px;
      right: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-width: 702px;
    max-height: 90dvh;
    overflow-y: auto;

    padding: 49px 70px;

    @include mixins.respond-to(mobileOnly) {
      min-width: auto;
      height: 95dvh;

      padding: 70px 5%;
    }

    &--hidden {
      display: none;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 18px;
      color: #0B101A;

      margin: 0 0 57px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    & .goods-modal__form-wrapper-item-content {
      flex: 1;

      border: none !important;
      background: none !important;

      font-weight: 400;
      color: #0B101A;

      @include mixins.respond-to(mobileOnly) {
        flex: auto;

        width: 100%;

        text-align: left !important;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      & .goods-modal__form-wrapper-item {
        width: 100%;

        margin: 0 0 38px 0;

        &-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;

          width: 100%;
        }

        &-content {
          width: 100%;

          font-family: var(--font-family-second);
          font-size: 20px;
          text-align: center;
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: #0B101A;

        margin: 0 0 23px 0;
      }

      &-field {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0 24px 0;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }

        &:nth-of-type(4) {
          & .goods-modal__form-bottom-input {
            height: 82px;
          }
        }
      }

      &-label {
        position: absolute;
        top: -9px;
        left: 19px;

        display: inline-block;
        background: #FFF;

        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 0 8px;

        z-index: 2;
      }

      &-input {
        width: 380px;
        height: 49px;
        border-radius: 8px;
        border: 1px solid #434343;

        font-family: var(--font-family-default);
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 15px 19px 17px 19px;

        z-index: 1;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }
      }

      &-submit {
        color: #0B101A !important;

        margin: 0 0 16px 0 !important;

        @include mixins.respond-to(tablet) {
          width: 380px !important;
        }
      }

      &-info {
        max-width: 380px;

        text-align: center;
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        color: #0B101A;
      }

      & textarea {
        resize: none !important;
      }
    }
  }
}

.callback-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  color: #000;

  transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  @include mixins.respond-to(mobileOnly) {
    padding: 20px 10px;
  }

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFF;
    border: 1px solid #30363D;
    border-radius: 16px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
    }
  }

  &__close--top {
    position: absolute;
    top: 24px;
    right: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 10px;
      right: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 702px;
    max-height: 90dvh;
    overflow-y: auto;

    padding: 49px 70px;

    @include mixins.respond-to(mobileOnly) {
      min-width: auto;
      height: 95dvh;

      padding: 70px 5%;
    }

    &--hidden {
      display: none;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 18px;
      color: #0B101A;

      margin: 0 0 57px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    & .callback-modal__form-wrapper-item-content {
      flex: 1;

      border: none !important;
      background: none !important;

      font-weight: 400;
      color: #0B101A;

      @include mixins.respond-to(mobileOnly) {
        flex: auto;

        width: 100%;

        text-align: left !important;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      & .callback-modal__form-wrapper-item {
        width: 100%;

        margin: 0 0 38px 0;

        &-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;

          width: 100%;
        }

        &-content {
          width: 100%;

          font-family: var(--font-family-second);
          font-size: 20px;
          text-align: center;
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: #0B101A;

        margin: 0 0 23px 0;
      }

      &-field {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0 24px 0;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }

        &:nth-of-type(3) {
          & .callback-modal__form-bottom-input {
            height: 82px;
          }
        }
      }

      &-label {
        position: absolute;
        top: -9px;
        left: 19px;

        display: inline-block;
        background: #FFF;

        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 0 8px;

        z-index: 2;
      }

      &-input {
        width: 380px;
        height: 49px;
        border-radius: 8px;
        border: 1px solid #434343;

        font-family: var(--font-family-default);
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        color: #0B101A;

        padding: 15px 19px 17px 19px;

        z-index: 1;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }
      }

      &-submit {
        color: #0B101A !important;

        margin: 0 0 16px 0 !important;

        @include mixins.respond-to(tablet) {
          width: 380px !important;
        }
      }

      &-info {
        max-width: 380px;

        text-align: center;
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        color: #0B101A;
      }

      & textarea {
        resize: none !important;
      }
    }
  }
}

.success-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  color: #000;

  transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  @include mixins.respond-to(mobileOnly) {
    padding: 20px 10px;
  }

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFF;
    border: 1px solid #30363D;
    border-radius: 16px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
    }
  }

  &__close--top {
    position: absolute;
    top: 24px;
    right: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 10px;
      right: 10px;
    }
  }
}