@use "../mixins";

.news {

  padding: 85px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    padding: 54px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;

    @include mixins.respond-to(notDesktop) {
      gap: 13px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    justify-items: center;
    gap: 20px;

    width: 100%;

    @include mixins.respond-to(notDesktop) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
  }

  @media (min-width: 320px) and (max-width: 359px) {
    &__wrapper {
      gap: 10px;
    }
  }

  &__wrapper-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 385px;
    height: 305px;
    border-radius: 8px;
    border: 1px solid #30363D;
    overflow: hidden;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 14px;

      width: 140px;
      height: auto;
      min-height: 160px;
      border: none;
      border-radius: 0;
    }

    &--active {
      & .news__wrapper-item-img {
        opacity: 1;

        transform: translate3d(0, 0, 0);
        transition: opacity 0.6s, transform 0.6s;
      }

      & .news__wrapper-item-title {
        opacity: 1;

        transform: translateY(0);
        transition: opacity 0.6s, transform 0.6s;
      }
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;

      width: calc(100% + 50px);
      height: 100%;
      opacity: 0.5;

      transform: translate3d(-40px, 0, 0);
      transition: opacity 0.6s, transform 0.6s;

      @include mixins.respond-to(notDesktop) {
        position: relative;
        top: auto;
        left: auto;

        width: 100%;
        height: auto;
        border: 1px solid #30363D;
        border-radius: 8px;
        opacity: 1;

        transform: none;
      }
    }

    &-title {
      display: inline-block;

      max-width: 210px;
      opacity: 0.3;

      font-family: var(--font-family-second);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      text-align: center;

      transform: translateY(60px);
      transition: opacity 0.6s, transform 0.6s;

      z-index: 2;

      @include mixins.respond-to(notDesktop) {
        opacity: 1;

        transform: none;

        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  @media (min-width:1280px) and (max-width:1599px) {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    &__wrapper-item {
      width: 100%;
    }
  }
}