@use "../mixins";

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  @include mixins.respond-to(notDesktop) {
    gap: 40px;
  }

  &__heading {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: 100%;
    min-height: 200px;
    background: #161B22;
    border: 1px solid #30363D;
    border-radius: 8px;

    padding: 24px 42px 33px 47px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 18px;

      padding: 16px 16px 26px 16px;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &--left {
        gap: 16px;
      }

      &--right {
        align-items: flex-end;

        @include mixins.respond-to(notDesktop) {
          align-items: flex-start;
        }
      }
    }

    &-title {
      font-family: var(--font-family-second);
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;

      @include mixins.respond-to(notDesktop) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &-subtitle {
      display: inline-block;

      max-width: 620px;

      font-family: var(--font-family-second);
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;

      @include mixins.respond-to(notDesktop) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-phone {
      display: inline-block;

      font-size: 40px;
      font-weight: 400;
      color: #FFF;

      transition: color 0.3s;

      margin: 0 0 10px 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 32px;

        margin: 0 0 8px 0;
      }

      &:hover {
        color: #ffe66a;

        transition: color 0.3s;
      }
    }

    &-time {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.40);

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 18px 0;
      }
    }

    & .socials {
      justify-content: flex-end;

      margin: auto 0 0 0;

      @include mixins.respond-to(notDesktop) {
        justify-content: flex-start;
      }
    }
  }

  &__accordion {

    @include mixins.respond-to(notDesktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
    }

    &-title {
      width: 100%;

      text-align: center;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      max-width: 1130px;
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      height: 86px;
      border-bottom: 1px solid #373c4a;
      overflow: hidden;
      cursor: pointer;

      transition: all 0.3s;

      &:last-child {
        border: none;
      }

      &--active {
        & .questions__accordion-item-icon {
          transform: rotate(90deg) !important;
          transition: transform 0.3s;
        }
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 86px;
        box-sizing: border-box;

        font-family: var(--font-family-second);
        font-size: 24px;
        font-weight: 300;
        color: #FFF;

        padding: 30px 0 15px 0;

        @include mixins.respond-to(notDesktop) {
          font-size: 18px;

          padding: 30px 0;
        }
      }

      &-name {
        user-select: none;

        @include mixins.respond-to(notDesktop) {
          display: inline-block;

          max-width: 85%;
        }
      }

      &-content {
        padding: 15px 100px 30px 0;

        @include mixins.respond-to(notDesktop) {

          padding: 15px 0 30px 0;

          & p {
            font-size: 16px !important;
          }
        }

        & p {
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(235, 245, 255, 0.50);
        }
      }

      &-icon {
        position: relative;
        right: 5px;

        width: 12px;
        height: 19px;
      }
    }
  }
}