@use "../mixins";

.section-title {
  font-family: var(--font-family-second);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;

  @include mixins.respond-to(notDesktop) {
    font-size: 24px;
    text-align: center;
  }
}