@use "../mixins";

.single-goods {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    background: #161B22;
    border: 1px solid #30363D;
    border-radius: 8px;

    padding: 44px 36px 43px 36px;
    margin: 48px 0 60px 0;
  }

  &__column {
    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }

    &--right {
      padding: 40px 0 0 0;
    }
  }

  &__button {
    width: 318px;

    color: #0B101A;
  }

  &__cat {
    font-family: var(--font-family-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #C9C9C9;
  }

  &__title {
    font-family: var(--font-family-second);
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
  }

  &__price {
    font-family: var(--font-family-second);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;

    margin: 16px 0 0 0;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 23px 80px;

      &-item {
        width: 470px;

        color: rgba(235, 245, 255, 0.50);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &-img {
    width: 472px;
    height: 538px;
    object-fit: contain !important;
  }
}