@use "../mixins";

.single-goods {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    background: #161B22;
    border: 1px solid #30363D;
    border-radius: 8px;

    padding: 44px 36px 43px 36px;
    margin: 48px 0 60px 0;

    @include mixins.respond-to(notDesktopFr) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;

      padding: 22px 18px 32px 18px;
      margin: 0 0 40px 0;
    }
  }

  &__column {

    // @include mixins.respond-to(notDesktopFr) {
    //   width: 100%;
    // }

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;

      @include mixins.respond-to(notDesktopFr) {
        order: 2;
      }
    }

    &--right {
      padding: 40px 0 0 0;

      @include mixins.respond-to(notDesktopFr) {
        order: 1;

        padding: 0;
      }
    }
  }

  &__button {
    width: 318px;

    color: #0B101A;

    @include mixins.respond-to(notDesktopFr) {
      width: 100%;
      max-width: 320px;

      margin: 20px 0 0 0;
    }
  }

  &__cat {
    font-family: var(--font-family-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #C9C9C9;

    @include mixins.respond-to(notDesktopFr) {
      font-size: 16px;
    }
  }

  &__title {
    font-family: var(--font-family-second);
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;

    @include mixins.respond-to(notDesktopFr) {
      font-size: 25px;
      line-height: 27px;
    }
  }

  &__price {
    font-family: var(--font-family-second);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

    @include mixins.respond-to(notDesktopFr) {
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;

    margin: 16px 0 0 0;

    @include mixins.respond-to(notDesktopFr) {
      gap: 20px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 23px 80px;

      @include mixins.respond-to(notDesktopFr) {
        gap: 15px 20px;
      }

      &-item {
        max-width: 470px;

        color: rgba(235, 245, 255, 0.50);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;

        @include mixins.respond-to(notDesktopFr) {
          max-width: 250px;
        }
      }
    }
  }

  &__img {
    width: 472px;
    height: 538px;
    object-fit: contain !important;

    @include mixins.respond-to(notDesktopFr) {
      width: 100%;
      height: auto;
      max-height: 300px;
    }
  }
}