@use "../mixins";

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;

  width: 100%;

  margin: 74px 0 0 0;

  &__item {
    &:hover {
      & .socials__img {
        opacity: 1;

        transition: opacity 0.3s;
      }
    }
  }

  &__img {
    flex-shrink: 0;

    opacity: 0.5;

    transition: opacity 0.3s;
  }
}